@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
@media only screen and (max-width:1360px) {
  
    .header .footer {
  
      width:100%;
  
    }  
  }
  #wrapper {
    position: relative; /* Change to relative positioning */
    padding-top: 10px;
    max-width: 100%;
    min-width: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    border-bottom-color: black ;
    border-bottom-width: 0.7 ;
}
*{
    padding:0;
    margin-left:0;
    margin-right: 0;
    box-sizing: border-box;
}
@media only screen and (max-width:620px) {
  
    .wrapper .header .footer .location {
  
      width:100%;
  
    }
  
  }
#header {
    width: 100%;
    padding:0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color:#6e6e6e; 
    margin-bottom: 50px;
    position: relative;
    margin-top: 10px;
}
body{
    background-color: #dddcdc;
    height:fit-content;
}
.logo{
    color: #6e6e6e;
    background: rgba(255, 255, 255, 0.466);
    font-size: 20px;
    padding: 10px 10px;
    cursor: pointer;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin-right: 25px;
}

#menu .item a {
    color: #6e6e6e;
    background: rgba(255, 255, 255, 0.466);
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 12px 12px 5px 12px;
    margin-bottom: 50px;
    width: 80px;
    height: auto;
    font-style: italic;
    transition: width 0.3s ease;
}
#menu .item a:hover{
    background: rgb(63, 63, 63);
    transition: 1s;
}

 .dropdown-content {
    display: none;
    position: absolute;
    width: 500px;
    top: 50px;
}
.item:hover .dropdown-content {
    display: block;
}

#actions {
    display: flex;
}

.input {
    color: #6e6e6e;
    background: rgba(255, 255, 255, 0.466);
    border-radius: 100px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    width: 62px;
    transition: width 0.3s ease;
    margin-right: 22px;
}
.input::placeholder {
    color: #6e6e6e;
}
.btn:hover{
    background: rgb(63, 63, 63);
    transition: 1s;
}
.btn1 {
    margin-right: 80px;
    color: #6e6e6e;
    width: 40px;
    padding: 13px 10px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    background: rgba(255, 255, 255, 0.466);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

#banner{
    width: 1519px;
    height: 550px;
    background-image: linear-gradient(45deg, rgba(25, 26, 25, 0.85) 80%,rgba(57, 56, 56, 0.9)), url('../image/BackgroundXam.png');
    background-size: cover;
    position: relative;
    display: flex;
    left: -5px;
    text-align: center;
    margin-left: -3px;
    justify-content: center;
    line-height: 10px;
}
#banner .background {
    margin-top: 150px;
}
#banner .background h2{
    font-family: Raleway;
    font-size: 90px;
    color: #ffffff;
    margin-left: -25px;
}
#banner .background p{
    font-size: 40px;
    color: #fcfcfc;
    width: 100%;
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
#banner .background button{
    width: 191px;
    height: 40px;
    background: #565151;
    border: none;
    color: #fff;
    margin-top: -60px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#banner .background button:hover{
    background: #fff;
    color: #111;
}

#product{
    margin-top: 80px;
    display: flex;
    width: 85%;
    height: auto;
    position: relative;
    left: 8%;
}

#product .info {
    width: 90%;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#product .info h2{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}

#product .info p {
    font-size: 18px;
    line-height: 1.35;
}
#product .list-img img{
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 30px;
    float: right;
}

#ViewofCf{
    width: 90%;
    height: auto;
    position: relative;
    left: 5%;
    margin-top: 120px;
}
#ViewofCf .imageofview {
    display: flex;
    justify-content: space-between;
}
#ViewofCf .imageofview img{
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#footer {
    width: 100%;
    background:rgb(0,0,0,0.85);
    height: 30vh;
    padding-top:70px;
    color:#fff;
    left: 0;
    position: absolute;
    margin-top: 50px;
}
#footer .box{
    padding-left: 250px;
}
#footer .box2{
    display: inline-block;
    justify-content:center;
    padding-left: 578px;
    position:absolute;
    margin-top: -100px;
}
#footer .box2 .quick-menu ,.item a{
    padding-left: 180px;
    color: #fff;
    text-decoration: none;
}
h4 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 40px;
    margin-left: 360px;
    font-size: 30px;
    position: relative;
}
.logo1{
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(185, 185, 185, 0.705);
}